# ignore local folders and config files
aml_config/*.json
Sample_Data
.vscode
outputs
assets

# ignore python cache
*.pyc

# ignore faultive folders
Code/Modeling/aml_config
Code/Modeling/assets
Code/Modeling/.amlignore

# ignore tmp folders
code/Data_Acquisition_and_Understanding/tmp/*
